body,h1,ul,li,h2,h3,span,a,button{
  margin: 0px;
  padding: 0px;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
}

a{
  text-decoration: none;
}

button{
  border: none;
  background: none;
  cursor: pointer;
}
